<div class="container">
    <div class="menu">
        {{#link-to "index"}}
            <strong>Home</strong>
        {{/link-to}}
        {{#link-to "about"}}
            <strong>About</strong>
        {{/link-to}}
        {{#link-to "contact"}}
            <strong>Contact</strong>
        {{/link-to}}
    </div>
    <div class="body">
        {{outlet}}
    </div>
</div>
